<h1>Hello {{name}}</h1>
<div>
    <ul>
        <li>{{address.city}}</li>
        <li>{{address.state}}</li>
    </ul>
</div>
<h1>{{name}} hobbies</h1>
<div>
    <form (submit)="addHobby(hobby.value)">
        <input type="text" #hobby>
    </form>

    <ul>
        <li *ngFor="let hobby of hobbies; let i = index">{{i+1}} {{hobby}}</li>
    </ul>

</div>

<form>
    <label>Name:</label>
    <input type="email" [(ngModel)]="email" name="email">
</form>

<h1>Posts</h1>
<div>
   <ul>
        <li *ngFor="let post of posts; let i = index"> 
            <h4>{{post.title}}</h4>
            <p>{{post.body}}</p>
        </li>
    </ul>

</div>